<!DOCTYPE html>
<html>
  <head>
    <title>Nuilife</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %>
<nav>
  <% if user_signed_in? %>
    <% nuis = current_user.nuis.where.not(id: nil) %> <!-- 未保存を確実に除外 -->
    <% if nuis.exists? %>
      <% nuis.each do |nui| %>
        | <%= link_to "#{nui.name}で投稿", new_nui_post_path(nui) %>
      <% end %>
      | <%= link_to "新しいぬいを作る", new_nui_path %>
    <% else %>
      | <%= link_to "ぬいを作る", new_nui_path %>
    <% end %>
    | <%= link_to "みんなの投稿", posts_path %>
    | <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-link" %>
  <% end %>
</nav>

  </body>
</html>
